name: Rust

on:
  push:
    branches: [main, ci]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      # clone clippy
      - name: clone clippy
        run: git clone https://github.com/rust-lang/rust-clippy rust-clippy --depth 10
      - name: run lintcheck
        run: cargo lintcheck
        working-directory: rust-clippy
