name: Rust

on:
  push:
  pull_request:
  schedule:
    - cron: "0 3 * * *"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      # clone clippy
      - name: clone clippy
        run: git clone https://github.com/rust-lang/rust-clippy rust-clippy --depth 10
      - name: run lintcheck
        run: cargo lintcheck
        working-directory: rust-clippy
      - name: Commit files
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          cp rust-clippy/lintcheck-logs/lintcheck_crates_logs.txt lintcheck_default_crates_logs.txt
          git add lintcheck_default_crates_logs.txt || true
          git commit -m "update logs" || true
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.LINTCHECK_TOKEN }}
          branch: ${{ github.ref }}
